.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: double 12px beige;

}

.password-label {
  font-size: larger;
  color: beige;
}

.email-label {
  font-size: large;
  color: beige;
}


.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: left;
  padding: 0.50rem 0;
}

input {
  margin: 0.5rem 0;
  border: solid 2px beige;
  color: beige;
}

button {
  border: solid 1px black;
  background-color: beige;
  padding: 15px;
  border-radius: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h3 {
  font-size: xx-large;
  color: beige;
  text-decoration: underline;
}